_book
node_modules
*.html

*.lock
*.tgz
refreshChartMuseum.sh
override_global.yaml
override-values.yaml
tls.crt
tls.key
batch-stage
ear-stage
res-stage
dependencies
staticcontent
*!test.txt
.gradle
*.jar
*.zip
*.swp
StaticContent.zip
*.DS_Store
.classpath
.project
.settings
*.drawio